version: 2.1

defaults: &defaults
  docker:
    - image: cimg/go:1.24

workflows:
  build-and-test:
    jobs:
      - test
      - build
jobs:
  test:
    !!merge <<: *defaults
    steps:
      - checkout
      - run: make lint test
  build:
    !!merge <<: *defaults
    steps:
      - checkout
      # Compile, and make sure it's not dynamically linked.
      - run: make dist
      - store_artifacts:
          path: _dist
